<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>PhysioWat | Webvalley 2015</title>
<link href="../../../static/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="container">
        <div class="column-left">
        	<div class="square">
            	<img src="images/circ.png" />
                <h1>Experiment One</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dolor nulla, laoreet quis neque at, aliquam pellentesque odio. Donec sollicitudin purus id magna finibus, a tristique ipsum malesuada. Quisque tincidunt urna a rhoncus porta. Phasellus vel tellus eu justo faucibus semper nec venenatis tortor. Nullam elementum odio eu neque tempor ornare. In pulvinar urna vitae diam fermentum, non feugiat est aliquet. Aenean nec nulla eu felis tincidunt euismod. Sed eleifend lacus mauris, nec semper quam aliquam vitae. Curabitur imperdiet arcu nibh, eget porttitor magna varius eget. Nam sed nisi vitae sem dignissim blandit ac quis dolor.</p>
                <section class="border">
                    <button>View</button>
                </section>
            </div>
        </div>
        <div class="column-center">
        	<div class="square">
            	<img src="images/circ.png" />
                <h1>Experiment Two</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dolor nulla, laoreet quis neque at, aliquam pellentesque odio. Donec sollicitudin purus id magna finibus, a tristique ipsum malesuada. Quisque tincidunt urna a rhoncus porta. Phasellus vel tellus eu justo faucibus semper nec venenatis tortor. Nullam elementum odio eu neque tempor ornare. In pulvinar urna vitae diam fermentum, non feugiat est aliquet. Aenean nec nulla eu felis tincidunt euismod. Sed eleifend lacus mauris, nec semper quam aliquam vitae. Curabitur imperdiet arcu nibh, eget porttitor magna varius eget. Nam sed nisi vitae sem dignissim blandit ac quis dolor.</p>
                <section class="border">
                    <button>View</button>
                </section>
            </div>
        </div>
        <div class="column-right">
        	<div class="square">
            	<img src="images/circ.png" />
                <h1>Experiment Three</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dolor nulla, laoreet quis neque at, aliquam pellentesque odio. Donec sollicitudin purus id magna finibus, a tristique ipsum malesuada. Quisque tincidunt urna a rhoncus porta. Phasellus vel tellus eu justo faucibus semper nec venenatis tortor. Nullam elementum odio eu neque tempor ornare. In pulvinar urna vitae diam fermentum, non feugiat est aliquet. Aenean nec nulla eu felis tincidunt euismod. Sed eleifend lacus mauris, nec semper quam aliquam vitae. Curabitur imperdiet arcu nibh, eget porttitor magna varius eget. Nam sed nisi vitae sem dignissim blandit ac quis dolor.</p>
                <section class="border">
                    <button>View</button>
                </section>
            </div>
        </div>
    </div>
</body>
</html>
