<!DOCTYPE html>
	<html>
	<head>  
		<link href="../../../static/css/menuSTYLE.css" rel="stylesheet" type="text/css">
		<body link="#2c3e50" vlink="black" alink="black">
	</head>
<body>
	<div id="maincontainer">
		<div id="menu">
			<a href="home.html" target="_blank"><div id="sqr">Home</div></a>
			<a href="Upload.html" target="_blank"><div id="sqr">Upload</div></a>
			<a href="EX1.html" target="_blank"><div id="sqr">Exp.1</div></a>
			<a href="EX2.html" target="_blank"><div id="sqr">Exp.2</div></a>
			<a href="EX3.html" target="_blank"><div id="sqr">Exp.3</div></a>
			<a href="Team.html" target="_blank"><div id="sqr">The Team</div></a>
			<a href="About.html" target="_blank"><div id="sqr">About</div></a>
			<a href="Contacts.html" target="_blank"><div id="sqr">Contact</div></a>
                    
	</div>
