{% extends "PhysioWat/base.html" %}
{% load static %}
{% load highcharts_tags %}
{% block app_specific_css %}
{% load bootstrap3 %}
{% endblock %}

{% block container %}
<div class="form-cnt">
        <div width="100%" height="100%"
             style="border-radius:10px 10px 10px 10px; border: 2px solid #6699FF; padding:0%; postion:abolute; height:4em;"
             class="col-md-12">
            <!--step 1-->
            <div id="div_step_1" align="left" width="33%" class="col-md-4"
                 style="border-top-left-radius:10px ; border-bottom-left-radius:10px ;background-color:#F6F6F6; color:black; border-right:2px solid #6699FF; height:100%;text-align: center; padding-top:3.8%">
                Step 1
            </div>
            <!--step 2-->
            <div id="div_step_2" align="center" width="33%" class="col-md-4"
                 style="background-color:#F6F6F6; color:black; border-right:2px solid #6699FF; height:100%;text-align: center; padding-top:3.8%">
                Step 2
            </div>
            <!--step 3-->
            <div id="div_step_3" align="right" width="33%" height="100%" class="col-md-4"
                 style="background-color:#6699FF; color:white;border-top-right-radius:10px ; border-bottom-right-radius:10px ;text-align: center;height:100%; padding-top:3.8%">
                Step 3
            </div>
        </div>
    </div>
<!--end steps-->
<div id="alg_choose_container" style="width:50%; margin:0 auto; position:relative; top:50px; left:100px;">

    <form action="{% url 'alg_choose' id_record %}" method="post" enctype="multipart/form-data" name="selection">
     {% csrf_token %}

        {% bootstrap_form form_signal %}

        {% bootstrap_form form %}


     <button type="submit" id="select_submit" class="btn btn-success" href="ciao.html">Submit</button>
        <button type="reset" class="btn btn-danger">Reset</button>
    </form>
{% if success %}
    <a href="{% url 'ml_param_setting' %}"><div style="margin-top:25px" class="alert alert-success" role="alert">Features successfully extracted! Click here to go to machine learning page.</div></a>
{% endif %}
</div>

{% endblock %}
