{% extends "PhysioWat/base.html" %}
{% load static %}
{% load highcharts_tags %}
{% block app_specific_css %}
{% load bootstrap3 %}
{% endblock %}

{% block container %}
<div id="alg_choose_container" style="width:50%; margin:0 auto; position:relative; top:100px; left:100px;">

    <form action="{% url 'alg_choose' id_record %}" method="post" enctype="multipart/form-data" name="selection">
     {% csrf_token %}

        {% bootstrap_form form_signal %}

        {% bootstrap_form form %}


     <button type="submit" id="select_submit" class="btn btn-success" href="ciao.html">Submit</button>
        <button type="reset" class="btn btn-danger">Reset</button>
    </form>
    {% if messages %}
        {% include "includes/error_messages.html" %}
    {% endif %}
</div>

{% endblock %}
