{% extends "PhysioWat/base.html" %}
{% load static %}
{% load highcharts_tags %}
{% block app_specific_css %}

{% endblock %}


{% block container %}
<div class="content row">

    <div class="graphs col-md-8">
        <div class="processed-signal row">
            <div id="processed-signal"> </div>
        </div>
        <div class="temporary-processing row">
            <div id="temporary-processing"> </div>
        </div>
    </div>

    <div class="algorithms col-md-4">
        <form action="     ">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Algorithm 1
{% url 'chart_getdata' 'ciao' %}
                </label>
                <label>
                    <input type="checkbox" value="">
                    Algorithm 2
                </label>
            </div>
            <button type="submit" class="btn btn-default">Apply</button>
        </form>
    </div>

</div>
{% endblock %}


{% block app_specific_js %}

{% highcharts_js 1 0 0 0 %}

<script>
$(function () {
    $.getJSON("{% url 'chart_getdata' 'graph1' %}", function(data) {
        $('#processed-signal').highcharts(data);
    });
    $.getJSON("{% url 'chart_getdata'  %}", function(data) {
        $('#temporary-processing').highcharts(data);
    });
});
</script>

{% endblock app_specific_js %}
