{% extends "PhysioWat/base.html" %}
{% load static %}
{% block app_specific_css %}

{% endblock %}


{% block container %}

<div id="chartbox" style="min-width: 310px; height: 400px; margin: 0 auto">

</div>
<div class="descriptor">
qui sopra dovrebbe comparire il grafico
</div>

{% endblock %}


{% block app_specific_js %}
<script>
	bla = "ciao graph";
</script>
<script src="{% static 'preproc/highcharts/js/highcharts.js' %}" ></script>
<script src="{% static 'preproc/js/chart.js' %}" ></script>
<script>
	$(document).ready(function() {
		ajax_get_data();
	});
</script>
{% endblock %}




