{% extends 'PhysioWat/base.html' %}
{% load bootstrap3 %}
{% block container %}
<div>
	<h1>Preproc Settings</h1>
	<form action="#" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{% bootstrap_form formSpec %}
		
		{% bootstrap_form formFilt %}
		{% bootstrap_form formDown %}
		{% bootstrap_form formPick %}
		
        {% buttons %}
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="reset" class="btn btn-danger">Reset</button>
        {% endbuttons %}

	</form>
</div>

{% endblock %}
