{% load static %}
{% load bootstrap3 %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PhysioWat | WebValley 2015 </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet">
    <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet">

    <!-- including app specific CSS -->
    {% block app_specific_css %} {% endblock %}

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="{% static 'js/ie8-responsive-file-warning.js' %}"></script><![endif]-->
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'image/logo_physiowat.png' %}"
                                                                  style="width: auto; height: 35px; margin-top: -7px; margin-left: -7px;"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'user_upload' %}">Upload</a></li>
                <!-- <li><a href="{% url 'login' %}">Login</a></li> -->
                <li><a href="{% url 'experiment_creator' %}">New Experiment</a></li>
                <li><a href="{% url 'experiment_selector' %}">View Data</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
            <!-- <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form> -->
        </div>
    </div>
</nav>

<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Analytics</a></li>
                <li><a href="#">Export</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">Nav item</a></li>
                <li><a href="">Nav item again</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>
                <li><a href="">More navigation</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">Nav item again</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>
            </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-offset-2 col-md-10 main"> -->
<div id="egg"></div>
{% block container %} {% endblock %}

{% comment %}
                </div>

            </div>

        </div>
{% endcomment %}


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- FIXME pleas add comment describing the fucntion of these scripts -->
<script src="{% static 'js/move-top.js' %}" type="test/javascript"></script>
<script src="{% static 'js/easing.js' %}" type="test/javascript"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
<!-- including javascript for the form style -->
<script src="{% static 'js/style.js' %}"></script>
<!-- including app specific js -->
{% block app_specific_js %} {% endblock %}
<script language="JavaScript" type="text/javascript">

    // defining flags
    var isCtrl = false;
    var isShift = false;
    var isLeftKey = false;
    // helpful function that outputs to the container
    function log(str) {

    }
    ;

    // the magic :)
    $(document).ready(function () {
        log("Ready. Press Ctrl+Shift+F9!");

        // action on key up
        $(document).keyup(function (e) {
            if (e.which == 17) {
                isCtrl = false;
            }
            if (e.which == 16) {
                isShift = false;
            }
            if (e.which == 37) {
                isLeftKey = false;
            }
        });
        // action on key down
        $(document).keydown(function (e) {
            if (e.which == 17) {
                isCtrl = true;
            }
            if (e.which == 16) {
                isShift = true;
            }
            if (e.which == 37) {
                isLeftKey = true;
            }
            if (e.which == 120 && isCtrl && isShift && isLeftKey) {
                $('#egg').html('<img src=https://webvalley.fbk.eu/static/media/uploads/bizzegg.JPG>');
            }
        });

    });

</script>
</body>
</html>
