{% extends 'PhysioWat/base.html' %}
{% block container %}

    {{ a }}

    <div class="about" id="about">
		<div class="container">
			<div class="about-top">
				<br>
				<h3>WELCOME TO <span>PHYSIOWAT</span> A PHYSIOLOGICAL DATA ANALYSIS<br>WEB APPLICATION BY WEBVALLEY 2015</h3>
			</div>
			<div class="about-bottom">
				<div class="about-left" style="width: 95%;">
					<br><img src="http://www.fbk.eu/sites/www.fbk.eu/files/styles/adaptive/public/logowvfbk-300_2.png?itok=q79kTwPA"><br>
					<h4>Webvalley 2015: The Data Analysis of Wearabale Sensors</h4>
					<p style="text-align: left; font-size: 1em;">&nbsp;&nbsp;&nbsp;&nbsp;
WebValley aims to employ an EXLs3 inertial sensor to discover when an individual is engaging in several unique modes of hand flapping. Hand flapping is a phenotype associated with individuals on the autism spectrum. A properly developed sensor platform has the potential to accelerate autism research.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Machine learning has the potential to enhance diagnostic testing of autism spectrum disorder (ASD) as well as implementing new computer-supported intervention solutions. 
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
In this project we develop a machine learning method to analyze upper-body movement of children with ASD via specified kinematic analysis using a tri-axial sensor (EXLS….) certified as a medical device and originally developed for detection of fine motor atypical patterns in patients with Parkinson disease (RIF)/ 
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
After conducting experimentation and quantification, we reach a classification accuracy of 56% (Valerie’s decision tree using ONLY mean & variance, July 5th 10pm - will refine and hopefully improve accuracy by optimizing features used) by sifting through 2,000 features related to the subclasses of ASD and their subsequent unique characteristics. We can leverage these results to better understand the measured behavioral phenotype and its effect on patient development and future treatment. 
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
To limit potential invasiveness of experiment, data are sampled on the nondominant wrist. However, prime measurement locations include the dominant wrist, non-dominant upper arm, dominant ankle, non-dominant thigh, and hip. We have a sampling frequency of ___ (76.25 Hz), and each window of acceleration data represents ___ (6.7 seconds). Some of the features include mean and variance of acceleration.
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



</p>				
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>



{% endblock %}
