{% extends 'PhysioWat/base.html' %}
{% load staticfiles %}
{% block container %}

    {{ a }}

    <div class="about" id="about">
		<div class="container">
			<div class="about-top">
				<br><br>
				<h3>WELCOME TO <span>PhysioWAT</span> <br>This is a web platform for sensor data storage and analysis. It allows you to upload data, process it selecting features and visualize it through suitable graphs.</h3>
			</div>
			<div class="about-bottom">
				<div class="col-md-4 about-left">
					<span class="bttl"> </span>
                    <img src="{% static 'image/logodark.png' %}" style="width: 416px; height: 150px;">
					<h4>The Project</h4>
					<p>Our project is focused on developing a novel web platform for Data Analytics of Wearable Sensors for Research. This platform implements also a connection to smartphones, on which it is possible to collect data from wearable sensors and store it on relational database. Researchers can upload their data and analyze the stored data online, visualize data in different graphs and save it. </p>
				</div>
				<div class="col-md-4 about-left">
					<span class="tv"> </span>
					 <img src="{% static 'image/webvalley_logo.png' %}" style="width: 200px; height: 72px;">
					<h4>The Team</h4>
					<p>We are a group of motivated and determined students aged 17-18 years old of different nationalities. We were provided with the opportunity of taking part in WebValley 2015. WebValley is the FBK summer school for dissemination of interdisciplinary research. The starting point is the philosophy of combining open source tools, FBK research products and the creativity of participants in order to solve a real problem using new technologies. </p>
				</div>
				<div class="col-md-4 about-left">
					<span class="cup"> </span>
					<h4>The case studies</h4>
					<p>PhysioWAT focuses on the classification of stereotypical patterns in ASD children and on the synchronization of physiological responses in different relationships. The project was commissioned and supported by the ABP-lab (UniTN & NTY). Other than the raw data we were given, we also collected "synthetical data" thanks to wearable sensors.  </p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>


{% endblock %}