<!DOCTYPE html>
<html>
<body>
 <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">


<form>
First name:<br>
<input type="text" name="firstname">
<br>
Last name:<br>
<input type="text" name="lastname">
</form>


<p>Note that the form itself is not visible.</p>

<p>Also note that the default width of a text field is 20 characters.</p>




</body>
</html>

<button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
</button>

<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
</button>
