{% extends 'PhysioWat/base.html' %}
{% load static %}
{% block container %}




    <form action="#" method="post" enctype="multipart/form-data" class="form-cnt"> <!--class="form-cnt dropzone" id="my-awesome-dropzone">-->
        <br>
<h1>Upload File</h1><br>



<!--Creating the divs to dispay the name of the step-->
<div style="border-radius:10px 10px 10px 10px; border: 2px solid #6699FF; padding:0%; height:4em;" class="col-md-12">

<!--step 1-->
	<div id="div_step_1" align="left" class="col-md-4">Step 1</div>
<!--step 2-->
	<div id="div_step_2" align="center" class="col-md-4">Step 2</div>
<!--step 3-->
	<div id="div_step_3" align="right" class="col-md-4">Step 3</div>
</div>
<br><br>
<!--end steps-->



        {% csrf_token %}
<br><br><br><br>
<div id="Experiment_div" margin-top="15px">
        <label for="experiment">Experiment </label></div>
        <select name="experiment" class="form-control" id="sel">
            {% for c in experiments %}
                <option value="{{ c.0 }}">{{ c.1 }}</option>
            {% endfor %}
        </select><br>
        <!-- buttons submit and reset -->
        {% include "includes/bootstrap_fordbgroup.html" %}
       <div align="center">
        <button id="button_prev" class="btn btn-succes" onclick="decrease_passage()">Previous Step</button>
        <button id="button_next" class="btn btn-succes" onclick="increase_passage()">Next Step</button>
       </div>
    </form>

</div>
<!--<button id="button1" class="btn btn-success" onclick="increase_passage()">Next step</button>-->


    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}

{% block app_specific_js %}
<!--id_description display:none-->
<script>
$(document).ready(function()  {
var pass_form_input = document.getElementById("id_description");

    if (pass_form_input !== null) {
console.log("ada");
        pass_form_input.setAttribute("style","display:none");

    }
});

//end script display none-->
//buttons display none-->

$(document).ready(function()  {

var pass_form_input = document.getElementById("BuSu");

    if (pass_form_input !== null) {
        pass_form_input.setAttribute("style","display:none");
    }


});


$(document).ready(function()  {

var pass_form_input = document.getElementById("BuRe");

    if (pass_form_input !== null) {
        pass_form_input.setAttribute("style","display:none");
    }


});

</script>
{% endblock %}




<!-- btn btn-succes

    <script src="{--% static 'js/dropzone.js' %}"></script>
    <script>
        $(document).ready(function () {

//removed browsing, added drag&drop
            var input_file = $('#id_file');
            var parent = input_file.parent('div');
            input_file.remove();
            parent.append('<div class="col-xs-3 dz-default dz-message" id="dropzone-previews" style="height: 80px; border: 2px dashed; border-color:grey; color:white" >Drag&Drop your files to upload</div>');

            Dropzone.options.myAwesomeDropzone = { // The camelized version of the ID of the form element

                // The configuration we've talked about above
                autoProcessQueue: false,
                uploadMultiple: true,
                parallelUploads: 100,
                maxFiles: 100,
                previewsContainer: '#dropzone-previews',
//parameter file name on site

                // The setting up of the dropzone
                init: function () {
                    var myDropzone = this;

                    // First change the button to actually tell Dropzone to process the queue.
                    this.element.querySelector("button[type=submit]").addEventListener("click", function (e) {
                        // Make sure that the form isn't actually being sent.
                        e.preventDefault();
                        e.stopPropagation();
                        myDropzone.processQueue();
                    });

                    // Listen to the sendingmultiple event. In this case, it's the sendingmultiple event instead
                    // of the sending event because uploadMultiple is set to true.
                    this.on("sendingmultiple", function () {
                        // Gets triggered when the form is actually being sent.
                        // Hide the success button or the complete form.
                    });
                    this.on("successmultiple", function (files, response) {
                        // Gets triggered when the files have successfully been sent.
                        // Redirect user or notify of success.
                    });
                    this.on("errormultiple", function (files, response) {

                    });
                }

            }
//HAS TO BE CHECKED
//to set the max of the uploadable elements to one
            Dropzone.options.myAwesomeDropzone = {
                maxFiles: 1,
                accept: function (file, done) {
                    console.log("uploaded");
                    done();
                },
                init: function () {
                    this.on("maxfilesexceeded", function (file) {
                        alert("No more files please!");
                    });
                }
            };
            /*
             Dropzone.options.myAwesomeDropzone = {
             accept: function(file, done) {
             console.log("uploaded");
             done();
             },
             init: function() {
             this.on("addedfile", function() {
             if (this.files[1]!=null){
             this.removeFile(this.files[0]);
             }
             });
             }
             };
             */

        })
    </script>
{--% endblock %}-->

