{% extends 'PhysioWat/base.html' %}
{% block container %}
    <div style="padding:40px;margin:40px;border:1px solid #ccc">
        <h1>CSV File Uploader</h1>

        <form action="#" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if manufacturer %}
                {{ form }}
                <select>
                    {% for c in manufacturer %}
                        <option value="{{ c }}">{{ c }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Upload"/>
            {% else %}
                Error while loading sensors manufacters database.
            {% endif %}
        </form>
    </div>
{% endblock %}