{% extends 'PhysioWat/base.html' %}
{% load static %}
{% block container %}

<h1>Upload File</h1>
<form action="#" method="post" enctype="multipart/form-data" class="">
    {% include "includes/steps.html" %}

    <div class="form-cnt">
        {% csrf_token %}
        <div id="Experiment_div" margin-top="15px">
            <label for="experiment">Experiment </label></div>
        <select name="experiment" class="form-control" id="sel">
            {% for c in experiments %}
            <option value="{{ c.0 }}">{{ c.1 }}</option>
            {% endfor %}
        </select><br>
        <!-- buttons submit and reset -->
        {% include "includes/bootstrap_fordbgroup.html" %}
        <div align="center">
            <button id="button_prev" class="btn btn-default" onclick="decrease_passage()">Previous Step</button>
            <button id="button_next" class="btn btn-default" onclick="increase_passage()">Next Step</button>
        </div>
    </div>
</form>

<!--<button id="button1" class="btn btn-success" onclick="increase_passage()">Next step</button>-->


{% endblock %}

{% block app_specific_js %}
<!--id_description display:none-->
<script>
    $(document).ready(function () {
        var pass_form_input = document.getElementById("id_description");

        if (pass_form_input !== null) {
            console.log("ada");
            pass_form_input.setAttribute("style", "display:none");

        }
    });

    //end script display none-->
    //buttons display none-->

    $(document).ready(function () {

        var pass_form_input = document.getElementById("BuSu");

        if (pass_form_input !== null) {
            pass_form_input.setAttribute("style", "display:none");
        }


    });


    $(document).ready(function () {

        var pass_form_input = document.getElementById("BuRe");

        if (pass_form_input !== null) {
            pass_form_input.setAttribute("style", "display:none");
        }


    });

</script>
{% endblock %}
