{% extends 'PhysioWat/base.html' %}
{% load static %}
{% block container %}
    <h1>Upload File</h1>
    <form action="#" method="post" enctype="multipart/form-data" id="my-awesome-dropzone" class="dropzone">
        {% csrf_token %}
        <label for="devicename">Experiment </label>
        <select name="devicename" style="border-radius:5px 5px 5px 5px;"> 
<!-- experiments list -->
 {% for c in experiments %}
                <option value="{{ c }}">{{ c }}</option>
 {% endfor %}

        </select><br><br>
<!-- buttons submit and reset -->
            {% include "includes/bootstrap_fordbgroup.html" %}
    </form>
{% endblock %}

{% block app_specific_js %}
<script src="{% static 'js/dropzone.js' %}"></script>
<script>
$(document).ready(function(){

   $('#inbu').click(function(e, el){
	 $('input[type=file]').trigger('click');
   });

   $('input[type=file]').change(function() {
      console.log($(this).val());
      $('#FileName').val($(this).val());
   });


Dropzone.options.myAwesomeDropzone = { // The camelized version of the ID of the form element

  // The configuration we've talked about above
  autoProcessQueue: false,
  uploadMultiple: true,
  parallelUploads: 100,
  maxFiles: 100,
  previewsContainer: '#dropzone-previews',
//parameter file name on site

  // The setting up of the dropzone
  init: function() {
    var myDropzone = this;

    // First change the button to actually tell Dropzone to process the queue.
    this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
      // Make sure that the form isn't actually being sent.
      e.preventDefault();
      e.stopPropagation();
      myDropzone.processQueue();
    });

    // Listen to the sendingmultiple event. In this case, it's the sendingmultiple event instead
    // of the sending event because uploadMultiple is set to true.
    this.on("sendingmultiple", function() {
      // Gets triggered when the form is actually being sent.
      // Hide the success button or the complete form.
    });
    this.on("successmultiple", function(files, response) {
      // Gets triggered when the files have successfully been sent.
      // Redirect user or notify of success.
    });
    this.on("errormultiple", function(files, response) {
      // Gets triggered when there was an error sending the files.
      // Maybe show form again, and notify user of error
    });
  }

}





})
</script>
 {% endblock %}   
