{% extends "PhysioWat/base.html" %}
{% load static %}
{% load highcharts_tags %}
{% block app_specific_css %}
{% load bootstrap3 %}
{% endblock %}
{% block container %}


<div id="container" style="margin-top: 3%;">
    <form action="#" class="form-cnt" method="post" enctype="multipart/form-data" name="selection" id="selection">
        <center>
        <button type="submit" class="btn btn-success" id="button_submit" style="display:none">Submit</button>
        <input type="button" class="btn btn-primary" id ="button_reset" value="reset"></input>
        <input type="button" class="btn btn-primary" id="proceed" value="proceed"></input>
        </center>
        <br><br>
        <!-- ul class="pager">
            <li class="previous">
                <a href="#">&larr; Previous</a>
            </li>
            <li class="next">
                <a href="#">Next &rarr;</a>
            </li>
        </ul -->
        {% csrf_token %}

        {{  viewf }}
<br><br>
        {{ formListId }}
     <div id="mlParSet_1" style="display:none;" class="div_choose">
         <br><br>
         <h5> Select whether you want to choose how many features you want to consider, or if you want an automatic
             response</h5> <br> in the first case, write the number <br><br>

         {{ FPar }}
     </div>


        <br><br>
      <div id="mlParSet_2" class ="div_choose" style="display:none;">
          <hr>
         <h5>Select the percentage of the data used as a test and the number of iterations</h5>

          {{ TPar }}


      </div>
        <br><br>
        <div id="mlParSet_3" class="div_choose" style="display:none;">
            <hr>
            <h5>Choose your algorithm</h5>
            {{ AlgChoose }}
        </div>
        <br><br>

        <div id="mlParSet_4" class="div_choose" style="display:none;">        <!-- div with autofit, default or personalized -->
            <hr>
            <h5>Choose whether you have to set the parameters or not</h5>
            {{ AlgParamChoose }}
        </div>
        <br><br>

           <div id="mlPersPar">   <!-- div with the personalized options for every algorithm -->
            <hr>
        </div>
        <br><br>
        <div id="autoFitParamChoose" style="display:none;">       <!-- div with the metrics -->
            <hr>
            {{ autoParam }}
        </div>


    </form>



</div>

{% endblock %}




{% block app_specific_js %}
    <script>
                "use strict";
        var cont = 1;
        var formlist = [];
        var choosen_alg;
        var choosen_opt;


        {% for k,v in forms.items %}
                formlist.push("{{ k }}");
        {% endfor %}

        $(document).ready(function () {
        //do nothing for now;
        ;
         }); //end of document ready

        $('#button_reset').click(function() {
            cont=4;
            $('#proceed').show();
            $('#button_submit').hide();
        });

        //console.log(formlist);

        $('#proceed').click( function(){
             cont++;
             //console.log(cont);
             var $target = $('#mlParSet_' + cont);
             //console.log($target);
             if(cont != 1){
             $target.show();
             }
             var allVals =[]
             $('#selection :input:checked').each(function (i, elem) {
               allVals.push(elem.value);  
               if (elem.value == "sel")
                { $('#mlParSet_1').show(); }
            }); //THIS BLOCK IS NEEDED BECAUSE OF THE FACT THAT (ONLY the first paraghraph coul be not displaysable)

            //ADDING THE FUNCTIONALITY THAT, if choosen every algorithm, does not display the form algparamchoose

             $('#mlParSet_3 :input:checked').each(function (i, elem) {  choosen_alg = elem.value});
             if(choosen_alg == 'ALL'){  cont = 5   }

            if(cont >=5)
            {
            $target=$('#proceed')
            $target.hide();
             $target=$('#button_submit')
            $target.show();
            }
         if(cont == 5){show_alg_param()}


         }); //end of proceed --> click




    function show_alg_param(){
        $('#mlParSet_3 :input:checked').each(function (i, elem) {  choosen_alg = elem.value});
        //console.log ("choosen algorithm : " + choosen_alg);
        $('#mlParSet_4 :input:checked').each(function (i, elem) {  choosen_opt= elem.value});
        //console.log(choosen_opt);

        if(choosen_alg =="ALL"){
                alert("you have choosen to try every classifier. It might take some time");
                $('#mlParSet_4').hide();
         }
         else{
             $('#mlParSet_4').show();
              $('#mlPersPar').show();
        }

        if(choosen_opt == "pers"){        // IF YOU WANT THE PERSONALIZED PARAMETERS, SHOW THEM (DIFFERENT FOR EACH ALG)
            if(choosen_alg == "QDA"){
                alert("the quadratic discriminant analisys has no personalized options. Please switch to default or autofit ");
                $('#autoFitParamChoose').hide();
                $('#mlPersPar').hide();
            }
            choosen_alg = "form_" + choosen_alg
            //console.log (choosen_alg);
            var temp;
              {% for k,v in forms.items %}
                    temp ="{{ k }}";

                     if (temp == choosen_alg){
                    {% spaceless %}
                     document.getElementById('mlPersPar').innerHTML = ' {{ v }}';
                     {% endspaceless %}
                     }

             {% endfor %}
        }
        if(choosen_opt == "auto"){  // IF YOU WANT THE AUTOTRAIN, then show the choices
            //console.log("choosen the autofit!");
            $('#autoFitParamChoose').show();
            $('#mlPersPar').hide();

        }
        else{        //IF YOU WANT THE DEFAULT PARAMETERS,
           $('#autoFitParamChoose').hide();
        }

        if(choosen_opt == "def")
        {
        $('#autoFitParamChoose').hide();
            $('#mlPersPar').hide();
        }
    }

/*

 .each(function (i, elem) {
                allVals.push(elem.value);
            });
  $('{{ v }}').appendTo('#mlPersPar');
        */

    </script>
{% endblock app_specific_js %}

